.wallet__wrapper {
  display: flex;
  height: calc(100% / 7);
}


.wallet__slot, .wallet__counter {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  cursor: pointer;
  border: 3px solid grey;
  margin-bottom: 10px;
  width: 120px;
  font-size: 25px;
  margin-right: 10px;
}
