* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product-container.buyable {
  box-shadow: inset 0 0 5px green;
  cursor: pointer;
}

.product-container.buyable:hover {
  box-shadow: inset 0 0 15px rgb(15, 145, 89);
}

.product-container.out-of-stock {
  box-shadow: inset 0 0 5px #282c34;
  cursor: not-allowed;
}

.product-container.not-buyable {
  box-shadow: inset 0 0 5px crimson;
  cursor: not-allowed;
}
